.header {
  display: flex;
  justify-content: space-between;
  /* background-color: #373038;
  background-image: "url(/frontend/img/bg_head_white.png)"; */
}

.logo {
  color: black;
  margin-left: 1rem;
}

.login-form {
  margin-top: 16px;
  justify-content: space-between;
  display: flex;
}

.login-input {
  margin-right: 100px;
}

.login-button {
  margin-top: -16px;
}
